.thank-you {
    text-align: center;
    margin-top: 50px;
}
.thank-you h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.thank-you p {
    font-size: 18px;
    margin-bottom: 30px;
}
.back-to-home {
    margin-top: 20px;
}
.section__content{text-align: center;}